*.swp
*.aux
*.log
*.toc
auto/
publish/epub/
publish/mobi/
publish/pdf/
build/latex/book_main.pdf
build/latex/cover_back.pdf
build/latex/cover_spine.pdf
build/latex/cover_spine_east.pdf
build/latex/cover_front.pdf
build/latex/cover.pdf